.light-mode {
  background-color: #ffffff;
  color: #000000;

  .widget-scrollable {
    overflow-y: auto;
    scroll-behavior: smooth; /* Smooth scroll animation */
  }

  .sidebar {
    background-color: #1e2a38;
    color: #ffffff;
  }

  .widget {
    background: #ececec;

    transition: all 0.3s ease;
    z-index: 10;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out; /* Hover animation */
  }

  .widget:hover {
    transform: scale(1.02); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adds a stronger shadow */
    border: 1px solid rgba(178, 181, 185, 0.6); /* Highlight border */
  }

  .dashboard-content {
    background-color: #f8f9fa;
  }

  .layout .react-grid-item {
    background: none !important;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .widget-handle {
    position: absolute;
    top: 10px !important;
    right: 10px;
    font-size: 1.2rem;
    color: #666;
    z-index: 11;
    cursor: grab !important;
  }

  .widget-handle:hover {
    color: #333;
  }

  .chart-container {
    z-index: 9;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }


}

  /* Refresh Button Styling */
  .refresh-dashboard-button {
    position: relative;
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    background-color: #1976d2;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    float: right;
    top: -50px;
    right: 51px;
  }

  .refresh-dashboard-button:hover {
    background-color: #125ca8;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }

  .refresh-dashboard-button:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
  }

.layout .react-grid-item {
  border-radius: 0 !important;
  padding: 0 !important;
  margin-bottom: 20px;
}

.layout .react-grid-item.react-draggable-dragging,
.layout .react-grid-item.react-resizable-resizing {
  background: white !important;
  border-radius: 8px !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1) !important;
  padding: 20px !important;
}

.react-grid-placeholder {
  z-index: 0 !important;
  background-color: rgba(0, 123, 255, 0.2);
  border-radius: 8px;
  border: 2px dashed rgba(0, 123, 255, 0.5);
  height: 100%;
}

.page-container {
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
  overflow-y: auto;
}

.layout .react-grid-item {
  cursor: auto;
}

.widget {
  padding: 20px;
  position: relative;
  transition: all 0.3s ease;
  z-index: 10;
  height: 89%;
  padding: 20px;
}

.widget-scrollable {
  overflow-y: auto;
  scroll-behavior: smooth; 
  height: 94%;
}
